@media (max-width: 1000px) {
  .cartItem__container {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .cartItem__content-container {
    width: auto !important;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .cartItem__remove-button {
    margin-top: 1rem !important;
  }
}

.cartItem__container {
  height: 50%;
  width: 100%;
  display: flex;
  border-bottom: 2px solid black;
  padding: 10px 5px;
}

.cartItem__container:last-of-type {
  border-bottom: 0px;
}

.cartItem__image {
  height: 40%;
  width: 300px;
  object-fit: contain;
  margin-right: 15px;
  border-radius: 1rem;
}

.cartItem__content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cartItem__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.cartItem__price {
  font-size: 24px;
}

.cartItem__remove-button {
  width: 200px;
  align-self: flex-end;
}
